.detail__section {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.detail__container {
    padding: 2rem 4rem 2.5rem 4rem;
    border: none;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 35%;
}

.detail__img {
    /* display: inline-block; */
    text-align: center;
}

.detail__img img {
    width: 30%;
}

.detail__description {
    margin-bottom: 1.5rem;
    display: inline-block;
}

.detail__button {
    width: 55%;
}

.edit {
    margin-left: 2rem;
    color: white;
    background-color: rgb(102, 102, 11);
}

.delete {
    margin-left: 3rem;
    color: white;
    background-color: black;
}

.buy {
    background-color: rgb(133, 29, 29);
    color: white;
}

.btn:hover {
    background-color: aliceblue;
    color: red;
    border-color: aliceblue;
    cursor: pointer;
}

.btn:active {
    background-color: #f5f5dc;
}